
@{
    ViewBag.Title = "Setup";
}

<h1>Setup / Maintenance</h1>
<p>You don't have a home page set up or you need to run the database update.</p>
<p>When running locally you can apply the updates by visiting this page:</p>
@Html.ActionLink("Database update", "Upgrade")
