
@{
    ViewBag.Title = "Verify Your Email";
}

<h2>@ViewBag.Title</h2>
<section class="margin-bottom-40">
    <div class="row">
        <div class="well col-sm-6 col-sm-offset-3">
            <h4 class="text-center">An email has been sent to you with instructions for verifying your email address</h4>
            <hr />
            <h5 class="text-center">You will not receive mail from the mailing list until you verify your email address.</h5>
        </div>
    </div>
</section>