
@{
    ViewBag.Title = "Unsubscribe";
}

<h2>@ViewBag.Title</h2>
<section class="margin-bottom-40">
    <div class="row">
        <div class="well col-sm-6 col-sm-offset-3">
            <h4 class="text-center">You have been unsubscribed</h4>
            <hr />
            <h5 class="text-center">You will no longer receive email from us.</h5>
        </div>
    </div>
</section>