
@{
    ViewBag.Title = "Email Verified";
}

<h2>@ViewBag.Title</h2>
<section class="margin-bottom-40">
    <div class="row">
        <div class="well col-sm-6 col-sm-offset-3">
            <h4 class="text-center">Thank you, your email has now been verified!</h4>
            <hr />
            <h5 class="text-center">You will start receiving mail from the mailing list soon.</h5>
        </div>
    </div>
</section>