@using wwwplatform.Models
@model wwwplatform.Models.MailingList

@{
    ViewBag.Title = "New Message - " + Model.Name;
    EmailMessage message = new EmailMessage();
}

<h2>New Message</h2>

@using (Html.BeginForm("Send", "MailingLists", new { id = Model.Id }))
{
    @SimpleAntiForgeryToken()
    <div class="form-horizontal">
        <div class="row">
            <div class="col-sm-9">
                <h4>To: @(Model.Name) Subscribers</h4>
            </div>
            <div class="col-sm-3 text-right">
                <input type="submit" value="Send" class="btn btn-default" />
                @Html.ActionLink("Cancel", "Index")
            </div>
        </div>
        <hr />
        @Html.Partial("_EmailMessage", message)
    </div>
}
