@using wwwplatform.Models;
@using wwwplatform.Extensions.Helpers.Bootstrap;

@model AppSetting

@{ 
    var BoolOptions = new [] { new MenuOption { Text = "True" }, new MenuOption { Text = "False" } };
}

<div>
    @switch (Model.Kind)
    {
        case AppSetting.KindBool:
            Html.FormDropDown(new FormDropDownOptions { Name = Model.Name, Value = Model.Value ?? Model.DefaultValue, Options = BoolOptions });
            break;
        default:
        case AppSetting.KindString:
            <input type="text" name="@(Model.Name)" value="@(Model.Value)" class="form-control" />
            break;
    }
</div>