@using wwwplatform.Models.ViewModels;

@{
    var fieldName = ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty);
}

@Html.TextArea(string.Empty, /* Name suffix */
    ViewData.TemplateInfo.FormattedModelValue /* Initial value */
)
@using (Html.BeginScriptContext())
{
    Html.AddScriptFile("~/Scripts/tinymce/tinymce.min.js");
    Html.AddScriptBlock(
        @<div>
            @Html.Partial("_SelectFile", new SelectFileOptions { name = fieldName, singleSelect = true });
        </div>
    );
    Html.AddScriptBlock(
        @<script type="text/javascript">

            $(function () {
                var mceFieldName = '@fieldName';
                tinymce.init({
                    selector: '#' + mceFieldName,
                    height: 500,
                    width: '100%',
                    theme: 'modern',
                    plugins: [
                      'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                      'searchreplace wordcount visualblocks visualchars code fullscreen',
                      'insertdatetime media nonbreaking save table contextmenu directionality',
                      'emoticons template paste textcolor colorpicker textpattern imagetools'
                    ],
                    toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                    toolbar2: 'print preview media | forecolor backcolor emoticons',
                    image_advtab: true,
                    templates: [],
                    content_css: getContentCss(),
                    convert_urls: false,
                    file_picker_callback: selectFile,
                    file_picker_types: 'file image media'
                });

                function selectFile(callback, value, meta) {
                    $(window).trigger('selectfile.show', {
                        callback: callback,
                        value: value,
                        meta: meta
                    });
                }

                function getContentCss() {
                    var css = [];
                    $('link[rel="stylesheet"], link[type="text/css"]').each(function (i, elm) {
                        css.push(elm.href);
                    });
                    return css;
                }

            });

        </script>
    );
}