<div id="base">
    <div class="container padding-vert-30">
        <div class="row">
            <!-- Thumbs Gallery -->
            <div class="col-md-3 margin-bottom-20">
                <h3 class="margin-bottom-10">Portfolio Highlights</h3>
                <div class="thumbs-gallery">

                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/image1.jpg">
                        <img src="~/assets/img/thumbsgallery/thumbs/image1.jpg" alt="image1.jpg">
                        <i></i>
                    </a>


                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/image2.jpg">
                        <img src="~/assets/img/thumbsgallery/thumbs/image2.jpg" alt="image2.jpg">
                        <i></i>
                    </a>


                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/image3.jpg">
                        <img src="~/assets/img/thumbsgallery/thumbs/image3.jpg" alt="image3.jpg">
                        <i></i>
                    </a>


                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/image4.jpg">
                        <img src="~/assets/img/thumbsgallery/thumbs/image4.jpg" alt="image4.jpg">
                        <i></i>
                    </a>


                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/image6.jpg">
                        <img src="~/assets/img/thumbsgallery/thumbs/image6.jpg" alt="image6.jpg">
                        <i></i>
                    </a>


                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/image7.jpg">
                        <img src="~/assets/img/thumbsgallery/thumbs/image7.jpg" alt="image7.jpg">
                        <i></i>
                    </a>


                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/image8.jpg">
                        <img src="~/assets/img/thumbsgallery/thumbs/image8.jpg" alt="image8.jpg">
                        <i></i>
                    </a>


                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/image9.jpg">
                        <img src="~/assets/img/thumbsgallery/thumbs/image9.jpg" alt="image9.jpg">
                        <i></i>
                    </a>


                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/image92.jpg">
                        <img src="~/assets/img/thumbsgallery/thumbs/image92.jpg" alt="image92.jpg">
                        <i></i>
                    </a>


                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/image94.jpg">
                        <img src="~/assets/img/thumbsgallery/thumbs/image94.jpg" alt="image94.jpg">
                        <i></i>
                    </a>


                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/image95.jpg">
                        <img src="~/assets/img/thumbsgallery/thumbs/image95.jpg" alt="image95.jpg">
                        <i></i>
                    </a>

                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/image96.jpg">
                        <img src="~/assets/img/thumbsgallery/thumbs/image96.jpg" alt="image96.jpg">
                        <i></i>
                    </a>

                </div>			<div class="clearfix"></div>
            </div>
            <!-- End Thumbs Gallery -->
            <!-- Contact Details -->
            <div class="col-md-3 margin-bottom-20">
                <h3 class="margin-bottom-10">Contact Details</h3>
                <p>
                    Quay View,<br />
                    Mullaghmore,<br />
                    Co. Sligo,<br />
                    Ireland
                </p>
                <p>
                    Email: <a href="mailto:info@website.com">info@website.com</a><br />
                    Website: <a href="http://www.website.com/">www.website.com</a>
                </p>
            </div>
            <!-- End Contact Details -->
            <!-- Sample Menu -->
            <div class="col-md-3 margin-bottom-20">
                <h3 class="margin-bottom-10">Sample Menu</h3>
                <ul class="menu">
                    <li>
                        <a class="fa-tasks" href="#">Placerat facer possim</a>
                    </li>
                    <li>
                        <a class="fa-users" href="#">Quam nunc putamus</a>
                    </li>
                    <li>
                        <a class="fa-signal" href="#">Velit esse molestie</a>
                    </li>
                    <li>
                        <a class="fa-coffee" href="#">Nam liber tempor</a>
                    </li>
                </ul>
                <div class="clearfix"></div>

            </div>
            <!-- End Sample Menu -->
            <!-- Disclaimer -->
            <div class="col-md-3 margin-bottom-20">
                <h3 class="margin-bottom-10">Disclaimer</h3>
                <p>All stock images on this template demo are for presentation purposes only, intended to represent a live site and are not included with this template. Links are provided if you wish to purchase them from their copyright owners.</p>
                <div class="clearfix"></div>
            </div>
            <!-- End Disclaimer -->
            <div class="clearfix"></div>
        </div>
    </div>
</div>