@{
    var pages = Pages;
}

<ul class="nav navbar-nav navbar-right">
    @foreach (var p in pages)
    {
        @Html.Partial("_PageNavigation", p)
    }
    @if (Settings.ShowSharedFoldersInMenus && SharedFoldersLinkIsAvailable())
    {
        <li>
            @SharedFoldersLink()
        </li>
    }
</ul>