@{
    var pages = Pages;
}

<ul class="nav navbar-nav">
    @* if (showhome)? <li><a href="~/">Home</a></li>*@
    @foreach (var p in pages)
    {
        <li>
            @Html.Partial("_PageNavigation", p)
        </li>
    }
    @if (Settings.ShowSharedFoldersInMenus)
    {
        <li>
            @SharedFoldersLink()
        </li>
    }
    @*<li>
            <span>Menu with sub-menus</span>
            <ul>
                <li class="parent">
                    <span>Typography</span>
                    <ul>
                        <li><a href="features-typo-basic.html">Basic Typography</a></li>
                        <li><a href="features-typo-blockquotes.html">Blockquotes</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <span>Components</span>
                    <ul>
                        <li><a href="features-labels.html">Labels</a></li>
                        <li><a href="features-progress-bars.html">Progress Bars</a></li>
                        <li><a href="features-panels.html">Panels</a></li>
                        <li><a href="features-pagination.html">Pagination</a></li>
                    </ul>
                </li>
                <li class="parent">
                    <span>Icons</span>
                    <ul>
                        <li><a href="features-icons.html">Icons General</a></li>
                        <li><a href="features-icons-social.html">Social Icons</a></li>
                        <li><a href="features-icons-font-awesome.html">Font Awesome</a></li>
                        <li><a href="features-icons-glyphicons.html">Glyphicons</a></li>
                    </ul>
                </li>
                <li><a href="features-testimonials.html">Testimonials</a></li>
                <li><a href="features-accordions-tabs.html">Accordions & Tabs</a></li>
                <li><a href="features-buttons.html">Buttons</a></li>
                <li><a href="features-carousels.html">Carousels</a></li>
                <li><a href="features-grid.html">Grid System</a></li>
                <li><a href="features-animate-on-scroll.html">Animate On Scroll</a></li>
            </ul>
        </li>*@
</ul>