@model wwwplatform.Models.SitePage

@{ 
    var subpages = Model.SubPages;
    var cssClass = (subpages.Count() > 0) ? "parent" : "";
}

<li class="@cssClass">
    <a href="@Model.AppRelativeUrl()">@Model.Name</a>
    @if (subpages.Count() > 0)
    {
        <ul>
            @foreach (var p in subpages)
            {
                @Html.Partial("_PageNavigation", p)
            }
        </ul>
    }
</li>