@model wwwplatform.Models.ViewModels.UploadResults

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>File Upload Failed</title>
</head>
<body>
    @Scripts.Render("~/Scripts/jquery")
    <script>
        parent.$(parent).trigger(
            'error.upload',
            @ToJson(Model));
    </script>
</body>
</html>

