
@{
    ViewBag.Title = "404 - Page not found";
}
<div class="jumbotron text-center">
    <h1>404</h1>
    <h2>Page not found</h2>
    <h3>We don't know what you're looking for but it isn't here.</h3>
</div>