@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<h2>@ViewBag.Title</h2>
<section id="loginForm" class="margin-bottom-40">
    <div class="row">
        <div class="well col-sm-6 col-sm-offset-3">
            <h4 class="text-center">
                Please check your email for instructions to reset your password.
            </h4>
        </div>
    </div>
</section>

